html {
    width: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #020614;
    background-color: #f7f7f7;

}

strong {
    font-weight: bold;
}

.page-container {
    padding: 80px;
    max-width: 768px;
    margin: 0 auto;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 60px;
    padding: 10px 0;
}

h2 {
    margin-top: 20px;
    font-size: 21px;
}

h3 {
    font-size: 18px;
    color: #494E6F;
    padding: 0 0 40px 0;
}

p {
    padding: 7px 0;
    line-height: 140%;
}

ul {
    margin-left: 40px;
}

li {
    list-style-type: circle;
    padding: 10px 0;
}
