body{
    background: #e6e6e6;
    height: 100%;
    min-height: 100%;
}

.container{
    background: #f7f7f7;
    height: 100%;
    min-height: 100%;
}

.header{
    /*background: #2E86C1;*/
    min-height: 220px;
}

.site-title{
    font-size: 34px;
    margin-top: 46px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
}

.content-titles{
    font-size: 26px;
    margin-top: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #122130;
}

.content-titles  td {
    padding-right: 8px;
    color: #fff;
}

.tl-orange{
    color: #EBA403;
}

.tl-blue{
    color: #589DCA;
}

.tl-purple{
    color: #8C40A1;
}

.tl-orange-bg{
    background-color: #ebc775;
}

.tl-blue-bg{
    background-color: #6099bf;
}

.tl-purple-bg{
    background-color: #9670a1;
}

.tl-orange-bg-full{
    background-color: #EBA403;
}

.tl-blue-bg-full{
    background-color: #6DDCCA;
}

.tl-purple-bg-full{
    background-color: #8C40A1;
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Droid Serif', serif;
    font-size: 17px;
}

.img-left {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

.img-center {
    text-align: center;
    width: 100%;
}

.clear {
    clear: both;
}

.map {
    background: #fcfcfc;
    height: 260px;
    text-align: center;

}

.next-stop {
    margin-top: 46px;
    background: #EDEDED;
    padding: 12px;
}

h1 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif
}

h2 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif
}

@media(min-width:62em){
    .map {
        margin-top: -162px;
    }
}

.main {
    text-align: justify;
}